<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Rock Paper Scissors Lizard Spock</title>
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/application.css">
    </head>
    <body>
        <section class='play'>
        
        <h1>Live Long and Rock Paper Scissors Lizard</h1>
            <section class='weapons'>
                <img src="images/rock.png" data-choice="rock">
                <img src="images/paper.png" data-choice="paper">
                <img src="images/scissors.png" data-choice="scissors">
                <img src="images/lizard.png" data-choice="lizard">
                <img src="images/spock2.jpg" data-choice="spock">
            </section>
        <h2>Choose your weapon</h2>
        </section>    
            <br>
            <p id="result"></p>
            <script src="lib/jquery.min.js"></script>
            <script src="lib/Game.js"></script>
            <script src="lib/Player.js"></script>
            <script>

              var skynet = new Player("Skynet");
              var player = new Player("Player");
              var game = new Game(player, skynet);

              $(document).ready(function() {
                $('.weapons').on('mouseenter', 'img', function() {
                  $(this).addClass("highlight");
                });
                $('.weapons').on('mouseleave', 'img', function() {
                  $(this).removeClass("highlight");
                });

                $('.weapons').on('click', 'img', function() {
                  $(this).animate({'top': '-14px'}, 'fast').animate({'top': '0px'}, 'fast');
                  $('#result').find('p').slideUp(function () {
                    $(this).remove();
                  });

                  player.choose($(this).data('choice'));
                  skynet.skynetChoice();

                  $('#result').prepend('<p>' + game.winMessage() + '</p>').slideDown();

                });

              });
            </script>
    </body>
</html>    







