body {
  margin-top: 2%;
  font-family: Helvetica, Arial, Sans-serif;
  background-color:;
  color: #333;
  border: 1px solid;
  border-color: black;
  box-shadow: 0 0px 30px rgba(0,0,0,0.8);
}

@font-face {
    font-family: 'star_trek_enterprise_futureIt';
    src: url('../fonts/star_trek_enterprise_future-webfont.eot');
    src: url('../fonts/star_trek_enterprise_future-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/star_trek_enterprise_future-webfont.woff2') format('woff2'),
         url('../fonts/star_trek_enterprise_future-webfont.woff') format('woff'),
         url('../fonts/star_trek_enterprise_future-webfont.ttf') format('truetype'),
         url('../fonts/star_trek_enterprise_future-webfont.svg#star_trek_enterprise_futureIt') format('svg');
    font-weight: normal;
    font-style: normal;
  }

html, body {
  margin: 0 auto !important;
  height: 100%;
  width: 80%;
  text-align: center;
}

.play {
  padding-top: 10%;
}

.play img {
    position: relative;
    width: 100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.weapons {
  padding-top: 10%;
}

.weapons img {
  opacity: 0.5;
}

.weapons .highlight {
  opacity: 1;
}

img:hover {
  cursor: pointer;
}

h1 {
  font-family: 'star_trek_enterprise_futureIt';
  margin-top: 20px;
  font-size: 4em;
}

h2 {
  margin-top: 20px;
  font-size: 2em;
}

#result p {
  padding-top: 20px;
  font-size: 1.5em;
}
